body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin: 0;
    padding: 5px;
}

footer {
    background-color: rgb(245, 245 , 247);
    color: rgb(81, 81 , 84);
    text-align: left;
    padding-left: 35px;
}

.navegacion {
    display: inline;
    margin: 0 40px;
}

.estrecha {
    width: 80%;
}

.principal{
    margin-bottom: 60px;
}

.intermedio {
    display: inline-block;
    overflow: hidden;
    background-color: rgb(242, 242 , 242);
    width: 48%;
    margin: 0 10px;
}

.final{
    margin-top: 30px;
}

.enlace {
    text-decoration: none;
}

.button{
    border-radius: 32px;
    border: none;
    padding: 10px 15px;
    color: white;
}

.fondo-azul {
    background-color: rgb(0, 113 , 227);
}

.blue {
    color: rgb(0, 113 , 227);
}

.black {
    color: rgb(29, 29, 31);
}

.red {
    color: red;
}